beautifulsoup4 == 4.10.0
bootstrap4 == 0.1.0
django-bootstrap4 == 3.0.1
django-filter == 21.1
django-taggit == 1.5.1
django-summernote == 0.8.11.6
pillow == 8.3.2
Django == 3.2.6
gunicorn == 20.1.0
whitenoise == 5.3.0
dj-rest-auth == 2.1.11
djangorestframework == 3.12.4


